@import '~@angular/material/theming';
// Palette Colors
$bn-primary: mat-palette($mat-grey, 800);
$bn-accent: mat-palette($mat-blue, 700);
$bn-warn:   mat-palette($mat-red, 600);


$bn-primary-dark: mat-palette($mat-lime, 800);
$bn-accent-dark: mat-palette($mat-amber, 600);
$bn-warn-dark:   mat-palette($mat-red, 600);


$primary: #333333 !default;
$accent: #039be5 !default;
$warn: #e53935 !default;
$secondary: #6b6b6b !default;

$background: #fafafa !default;
$foreground : rgba(0,0,0,.87) !default;