

:host{

    .box{
        width: 100px;
        height: 100px;
        color: #fff;
        margin: 1rem 0.5rem 0.5rem 1rem;
        padding: 0.2rem;
        text-align: center;
    }

    .box1{
        background-color: rebeccapurple;
    }

    .box2{
        background-color: orangered;
    }

    .box3{
        background-color: orange;
    }

    .box4{
        background-color: olive;
    }
}