
<!-- <div class="d-flex flex row">
    <div class="box box2 rounded" [@animate]="{value:'*',params:{delay:'200ms',scale:'0.2'}}">
        Scall in
    </div>

    <div class="box box3 rounded" [@animate]="{value:'*',params:{delay:'300ms',x:'-25px'}}">
        translate x
    </div>

    <div class="box box4 rounded" [@animate]="{value:'*',params:{delay:'400ms',y:'-25px'}}">
        translate y
    </div>
</div>


<div class="box box4 rounded" [@slideInLeft]>
    this is a div 1
</div>

<div class="box box1 rounded" [@slideInTop]>
    this is a div 1
</div> -->
