<div class="d-flex flex-row">
    <div class="bg-full d-sm-none d-xs-none"></div>
    <div class="form">
        <div>
            <div class="logo">
                <img src="../../../../assets/img/logo.png" alt="logo">
            </div>
            <p class="text-uppercase mt1">SIGN IN TO YOUR ACCOUNT</p>
        </div>

        <form [formGroup]="formGroup" (ngSubmit)="handleSubmit()">
            <mat-form-field appearance="fill" class="w-100 mb3 mt2" floatLabel="always">
                <mat-label>Enter your email</mat-label>
                <input type="email" matInput placeholder="email" formControlName="email">
                <mat-hint>We'll never share your email with anyone else.</mat-hint>
                <mat-error *ngIf="formGroup.get('email').invalid">{{getEmailErrors()}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb3 mt2" floatLabel="always">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="password"
                formControlName="password">
                <mat-hint>
                    <a href="" class="link fw-400">Recover Password</a>
                </mat-hint>
                <mat-error *ngIf="formGroup.get('password').invalid">{{getPasswordErrors()}}</mat-error>
            </mat-form-field>

            <div>
                <button type="submit" mat-raised-button color="primary"
                 style="margin-right: .5rem;" [disabled]="formGroup.invalid">Login</button>
                <button type="button" mat-stroked-button color="primary"
                [routerLink]="['/auth/register']">Create an Account!</button>
            </div>
            
        </form>
    </div>
</div>
