
<div class="border m3 px3 bg-light rounded">
  <p>
    The Component below provides a drag and drop file upload feature. <br> 
    Upload one or many files by draging your file into the box.
  </p>
</div>

<div class="d-flex flex-column align-items-center rounded m3 p3 drag-zone"
    fileDrop (filesDropped)="filesDroppedHandler($event)" 
    (filesHovered)= "filesHoveredHandler($event)"
    [ngClass]="{'active': isHovered, 'droped': files.length>0}">

    <p class="text-secondary text-center">
       {{files.length>0 ? 'Files are ready to upload' : 'Drop your files here or click on the button below'}}
    </p>

    <small class="text-secondary">Files : {{files.length>0 ? files.length + ' File(s) are selected' : 'No files are selected'}}</small>

     <div class="mt3">
        <button mat-raised-button color='primary'
            (click)="file.click()" *ngIf="files.length === 0">
            Choose Files
        </button>
        <button mat-raised-button color='accent'
            (click)="uploadHandler()" *ngIf="files.length>0">
            Upload
        </button>
        <input type="file" #file hidden (change)="onChange($event)" multiple accept="image/*" />
     </div>
</div>