<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{'dark-theme-mode': isDarkModeActive}">
  <mat-sidenav  #drawer class="sidenav shadow-sm mat-primary" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
      
    <mat-toolbar id="toolbar" class="shadow-sm">App Name</mat-toolbar>

  <nav>
    <collapse-navigation *ngFor="let item of navigationList; let i=index;" [currentIndex]="i"
     [isOpen]="i===currentActiveNavItem" [nav]="item" (setIsOpen)="setActiveNavItem($event)"></collapse-navigation>
  </nav>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="shadow-sm">
      <button
        color = "primary"
        class="text-left"
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
       >
        <mat-icon aria-label="Side nav toggle icon">clear_all</mat-icon>
      </button>
      <span>Page</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- <div class="p3">
      <button mat-raised-button (click)="toggleTheme()" >Toggle Mode</button>
      <button mat-raised-button  color="primary">primary</button>
      <button mat-raised-button  color="accent">accent</button>
      <button mat-raised-button  color="warn">warn</button>
    </div> -->
    <router-outlet></router-outlet>
    <footer class="d-flex flex-row justify-space-between p3 text-secondary">
      <small class="small">Copyright © {{year}}. All rights reserved</small>
      <small class="small">Created by Nidhal Bettaibi</small>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
