.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  background-color: #333333;
  #toolbar {
    background-color: #333;
    height: 56px;
    color: #fff;
  }
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 56px;
  padding: 1rem;
  margin: 0;
  background-color: #fff;
  color: #333;
}
