.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 240px;
  background-color: #333;
  color: #fff;
  .mat-toolbar {
    background: inherit;
    height: 56px;
  }
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: 56px;
  padding: 1rem;
  margin: 0;
  background-color: #fff;
}
