<div class="d-grid grid-xs-column grid-sm-column">
    <div class="bg-full d-sm-none d-xs-none"></div>
    <div class="form">
        <div>
            <div class="logo">
                <img src="../../../../assets/img/logo.png" alt="logo">
            </div>
            <p class="text-uppercase mt1">RESET YOUR PASSWORD</p>
        </div>

        <mat-form-field  class="w-100 mb3 mt2" floatLabel="always">
            <mat-label>Email</mat-label>
            <input type="email" autocomplete="off" matInput placeholder="Enter your email" [formControl]="email">
            <mat-hint>We'll never share your email with anyone else.</mat-hint>
            <mat-error *ngIf="email.invalid">{{getEmailErrors()}}</mat-error>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary" [routerLink]="['/auth/login']" 
        style="width: 100%;" [disabled]="email.invalid">Send Reset Link</button>
    </div>
</div>
