@import './assets/scss/custom-theme';
@import './assets/scss/utilities';
@import './assets/scss/base';

html, body { height: 100%; scroll-behavior: smooth;}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: $foreground;
}

*{
  box-sizing: border-box;
}